.movies__slider {
  min-width: 1903px;
  height: 829px;
  background-repeat: no-repeat;
  background-size: cover;
}
.movies__slider_bg {
  background-image: url("/movies/movies_slider.svg");
}

.container__btn_continuation {
  margin: auto;
  display: block;
  border-radius: 60px;
  padding: 10px 34px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  background-color: #e13c52;
  border: none;
  cursor: pointer;
}
.container__btn_continuation:hover {
  background-color: #fff;
  color: #e13c52;
}
.none {
  display: none;
}
.movies__slider_information {
  padding-top: 300px;
  padding-left: 60px;
}
.movies__slider_title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 300;
  margin-left: -4px;
}

.movies__slider_info {
  margin-bottom: 22px;
  color: #a7a7a7;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies__slider_text {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 47px;
}
.movies__slider_information_btn {
  border-radius: 60px;
  padding: 10px 34px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  background-color: #e13c52;
  border: none;
}

.movies_bg {
  background-image: url("/movies/app\ bg\ 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.movies__container {
  padding-top: 87px;
  margin-bottom: 100px;
}
.movies__container__btn_arrow {
  width: 70px;
  height: 117px;
  border-radius: 12px 0px 0px 12px;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 114px;
  margin-left: -44px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.arrow_btn {
  width: 31px;
  height: 57px;
  background-color: inherit;
  color: #fff;
  background-image: url("/movies/Vector\ 41.svg");
  background-repeat: no-repeat;
  align-items: center;
  border: none;
  cursor: pointer;
}

.pole_input {
  margin-left: 70px;
  padding-top: 50px;
  display: flex;
  gap: 20px;
}
.pole_input_text {
  font-size: 20px;
  font-style: normal;
}

.movies__container_card_hover {
  transition: all 1.124s ease;
}

.btn_play_cinemas {
  transition: all 2.124s ease-in-out;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 46, 46, 0.5);
  width: 230px;
  height: 350px;
  border: none;
}
.btn_play_cinemas_img {
  width: 90px;
  height: 90px;
}

.movies__container_card_hover:hover .btn_play_cinemas {
  display: flex;
}
